/*!-----------------------------------------------------------------
  Name: Cosmetic Mobile Version
  Version: 1.0.0
  Author: Yudhistira EP <yudhistira.ep@gmail.com>
  Copyright 2017.
-------------------------------------------------------------------*/

html, body {
  height: 100%;
}

body {    
	padding-top: 52px;
  font: 14px/1.42857143 'Roboto', sans-serif;
}

body.navbar-more-show  {
	overflow: hidden;
}

.btn-pink {
	background-color: #ff3399;
  border-color: #ff1a8c;
  color: #fff;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
	background-color: #e60073;
  border-color: #ff0080;
  color: #fff;
}

.animate {
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar {
	-webkit-transform: translate(0px, calc(-100% + 52px));
	transform: translate(0px, calc(-100% + 52px));
}

.navbar-nav {
	display: block;
	float: none;
}

.navbar .container:not(.navbar-more) {
	padding: 0px;
}

.navbar-more-overlay {
	background-color: rgba(102, 102, 102, 0.55);
	display: none;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1029;
}

.navbar-more-show > .navbar-more-overlay {
	display: block;
}

.navbar-more-show > .navbar {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.navbar-nav.mobile-bar {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	margin: 0px 0px;
}

.navbar-nav > li > a span.badge {
	background-color: #ff0000;
	font: 10px "Roboto",sans-serif;
	height: 20px;
	left: 50%;
	padding: 4px;
	position: absolute;
	top: 50%;
	transform: translate(0px, -22px);
	width: 20px;
	line-height: 15px;
}

.navbar-nav.mobile-bar > li {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	text-align: center;
}

.navbar-nav.mobile-bar > li > a {
	padding-bottom: 5px;
}

.navbar-nav.mobile-bar > li > a > span.menu-icon {
	display: block;
	font-size: 1.2em;
}

.navbar-more {
	background-color: rgb(255, 255, 255);
	height: calc(100% - 69px);
	overflow: auto;
}

.navbar-more .navbar-form {
	border-width: 0px;
}

.navbar-more .navbar-nav > li > a,
.navbar-more .navbar-nav > li > a:hover,
.navbar-more .navbar-nav > li > a:focus,
.navbar-more .navbar-nav > li > a:active {
	color: rgb(0, 0, 0);   
}

.navbar-more > .navbar-nav > li > a > span.menu-icon {
	margin-left: 10px;
	margin-right: 10px;
	min-width: 15px;
	text-align: center;
}

.navbar-more > .navbar-nav > li > a:hover,
.navbar-more > .navbar-nav > li > a:focus,
.navbar-more > .navbar-nav > li > a:active {
	background-color: #ccc;
}

#main-banner {
	padding-right: 0;
	padding-left: 0;
}

/* Makes images fully responsive */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 5px 0 5px 25px;
  color: #fff;
  text-align: left;
}

.carousel-caption > a {
	color: #fff;
}

#carousel-main-banner .carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  z-index: 15;
  margin: 0;
  padding: 0 25px 5px 0;
  text-align: right;
  left: unset;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.brand,
.product {
	margin: 0 -10px;
	padding-top: 5px;
}

.brand .item,
.product .item {
	float: left;
	padding: 5px;
	width: 50%;
}

.brand .item > a {
	text-decoration: none;
}

.brand .item .thumbnail,
.product .item .thumbnail {
	padding: 0;
	border-radius: 10px;
	box-shadow: 0 1px 5px grey;
	border: none;
	margin-bottom: 0;
	position: relative;
}

.brand .item .thumbnail > img,
.product .item .thumbnail > img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0 3px 3px -2px grey;
}

.brand .item .thumbnail > .caption {
	padding: 5px;
}

.brand .item .thumbnail > .caption > p,
.product .item .thumbnail > .caption > p {
	margin: 0;
	text-align: center;
}

.info {
	color: #000;
	padding: 10px 10px;
}

.info p {
	font-size: 11px;
  font-weight: 100;
  margin: 0;
}

.info h5 {
	margin: 0;
}

.price {
	display: table;
	font-size: 18px;
	font-weight: 600;
	margin-top: 5px;
	width: 100%;
}

.price .rate {
  float: left;
  font-size: 24px;
  width: 35%;
  color: #ff3399;
}

.price .retail {
  color: #ccc;
  float: left;
  font-size: 10px;
  font-weight: 400;
  text-decoration: line-through;
  width: 65%;
}

.price .our {
  float: left;
  font-size: 14px;
  width: 65%;
}

.product .item .thumbnail > .caption {
	padding: 0;
	text-align: center;
	display: flex;
}

.product .item .thumbnail > .caption a:first-child {
	color: #fff;
	background-color: #222;
	border-bottom-left-radius: 10px;
	padding: 5px
}

.product .item .thumbnail > .caption a:last-child {
	background-color: #337ab7;
	margin-top: 0;
	border-bottom-right-radius: 10px;
	padding: 5px
}

.product .item .thumbnail a:hover {
	text-decoration: none;
}

.product .item .thumbnail > .caption span {
	color: #fff;
}

.product .item .thumbnail > .caption a:hover span {
	color: #9d9d9d;
}

.ribbon {
  position: absolute;
  right: -5px; 
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; 
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FF3399 0%, #DE2C85 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #DE2C85;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #DE2C85;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #DE2C85;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #DE2C85;
}

.navbar.detail {
	transform: unset;
	min-height: unset;
}

.navbar.detail li > a span.badge {
	transform: translate(0px, -13px);
}

.navbar.detail .mobile-bar > li {
	max-width: 50px;
	list-style-position:inside;
	border-right: 1px solid #4d4d4d;
}

.navbar.detail .mobile-bar > li:last-child {
	border: unset;
}

.navbar.detail .mobile-bar > li.product-name {
	max-width: unset;
}

#product-gallery {
	padding-bottom: 40px;
}

#product-gallery .carousel-inner > .item > img,
#product-gallery .carousel-inner > .item > a > img {
  display: block;
  margin: 0 auto;
  height: 165px;
  width: unset;
}

#product-gallery .carousel-indicators li {
	border: 1px solid #337ab7;
	margin-bottom: -50px;
}

#product-gallery .carousel-indicators .active {
	background-color: #337ab7;
}

#product-detail .info p {
	font-size: 14px;
}

#product-detail .info h5 {
	font-size: 20px;
	color: #337ab7;
}

#product-detail .price .rate {
  width: 25%;
  font-size: 32px;
}

#product-detail .price .retail {
	font-size: 12px;
}

#product-detail .price .our {
	font-size: 16px;
}

#product-detail .share,
#product-detail .amount {
	font-weight: 100;
  line-height: 34px;
  margin-top: 10px;
  position: relative;
}

#product-detail .input-group {
	font-weight: 400;
	margin: 10px 0;
}

#product-detail .input-group input  {
	text-align: center;
}

#product-detail .action {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

#product-detail .action a {
	display: inline-block;
	width: 49.4%;
}

#product-detail .nav-tabs {
	border-bottom: none;
}

#product-detail .nav-tabs > li {
	width: 50%;
}

#product-detail .nav-tabs > li > a {
	border-radius: 0;
  padding: 8px 5px 5px 5px;
  text-align: center;
  margin: 0;
  background-color: #eee;
  color: #555;
  border-bottom: 1px solid #fff;
}

#product-detail .nav-tabs > li > a:hover {
	border-bottom: 1px solid #fff;
	color: #ff3399;
}

#product-detail .nav-tabs > li.active > a {
	border-top: 3px solid #555;
  padding: 5px;
  background-color: unset;
}

#product-detail .nav-tabs > li.active > a:hover {
	border-bottom: unset;
	color: #555;
}

/* Review comment */
.tab-pane .panel {
	margin: 10px 0;
}

.tab-pane .panel-white {
  border: 1px solid #dddddd;
}

.tab-pane .panel-white .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.tab-pane .panel-white .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.review .post-heading {
  height: 95px;
  padding: 20px 15px;
}

.review .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}

.review .post-heading .meta .title {
  margin: 0;
}

.review .post-heading .meta .title a {
  color: black;
}

.review .post-heading .meta .title a:hover {
  color: #aaaaaa;
}

.review .post-heading .meta .time {
  margin: 5px 0 0 0;
  color: #999;
}

.review .post-image .image {
  width: 100%;
  height: auto;
}

.review .post-description {
  padding: 0 15px 15px;
}

.review .post-description p {
  font-size: 14px;
}

.review .post-description .stats {
  margin-top: 20px;
}

.review .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}

.review .post-description .stats .stat-item .icon {
  margin-right: 8px;
}

.ratings {
  margin-top: 5px;
  display: flex;
  vertical-align:	;
}

.ratings small {
	font-size: 12px;
	color: #ff99cc;
}

.star-ratings {
  background: rgba(0, 0, 0, 0) url("../img/star-rating.png") repeat-x scroll 0 0 / 15px auto;
  font-size: 0;
  height: 15px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 75px;
  margin-right: 5px;
}

.star-ratings-sprite {
  background: rgba(0, 0, 0, 0) url("../img/star-rating.png") repeat-x scroll 0 100% / 15px auto;
  display: block;
  float: left;
  height: 14px;
}

.ratings.comments .star-ratings {
  background: rgba(0, 0, 0, 0) url("../img/star-rating-gold.png") repeat-x scroll 0 0 / 15px auto;
}

.ratings.comments .star-ratings-sprite {
  background: rgba(0, 0, 0, 0) url("../img/star-rating-gold.png") repeat-x scroll 0 100% / 15px auto;
}

@media (min-width: 480px) {
	.price .rate {
	  width: 30%;
	}

	.price .retail {
	  width: 70%;
	}

	.price .our {
	  width: 70%;
	}

	#product-gallery .carousel-inner > .item > img,
	#product-gallery .carousel-inner > .item > a > img {
	  height: 225px;
	}

	#product-detail .price .rate {
		  width: 17%;
	}
}

@media (min-width: 640px) {
	.brand .item,
	.product .item {
		width: 33.3%;
	}

	#product-gallery .carousel-inner > .item > img,
	#product-gallery .carousel-inner > .item > a > img {
	  height: 305px;
	}

	#product-detail .price .rate {
		  width: 13%;
	}
}

@media (min-width: 768px) {
	.navbar-nav.mobile-bar {
		max-height: 64px;
		margin: 0px -15px;
	}
}