<?php echo $header; ?>
  <div class="product-header-area">
  <div class="container">
  <div class="row">
  <div class="col-md-12">
  <div class="product-menu">
    <ul class="breadcrumb">
      <?php foreach ($breadcrumbs as $breadcrumb) { ?>
      <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
      <?php } ?>
    </ul>

  </div>
  </div>
  </div>
  </div>
  </div>

        <div class="product-simple-area">
            <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="single-product-image">
                  <div class="single-product-tab">
                  <!-- Nav tabs -->
                  <?php if ($thumb || $images) { ?>
                  <?php
                  $i=1;
                  ?>
                  <ul role="tablist" class="nav nav-tabs">
                    <?php if ($thumb) { ?>
                    <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#img<?php echo $i?>"><img src="<?php echo $thumb; ?>" alt="<?php echo $heading_title; ?>"  title="<?php echo $heading_title; ?>"></a></li>
                    <?php } ?>
                    <?php if ($images) { ?>
                    <?php foreach ($images as $image) { ?>
                    <?php $i++;?>
                    <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#img<?php echo $i?>"><img src="<?php echo $image['thumb']; ?>" alt="<?php echo $heading_title; ?>"  title="<?php echo $heading_title; ?>"></a></li>
                    <?php } ?>
                    <?php } ?>
                  </ul>
                  <?php } ?>
                  <?php if ($thumb || $images) { ?>
                    <?php
                    $i=1;
                    ?>
                    <div class="tab-content">
                    <?php if ($thumb) { ?>
                    <div id="img<?php echo $i?>" class="tab-pane active" role="tabpanel"><img src="<?php echo $thumb; ?>" alt=""></div>
                    <?php } ?>
                    <?php if ($images) { ?>
                    <?php foreach ($images as $image) { ?>
                    <?php $i++;?>
                    <div id="img<?php echo $i?>" class="tab-pane" role="tabpanel"><img src="<?php echo $image['thumb']; ?>" alt=""></div>
                    <?php } ?>
                    <?php } ?>
                    </div>
                  <?php } ?>
                  <!-- Tab panes -->
                  </div>
                  </div>
                  </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="single-product-info">
                            <div class="product-nav">
                                <a href="#"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <h1 class="product_title"><?php echo $heading_title; ?></h1>
                            <div class="clearfix">

                            </div>
                            <ul class="list-unstyled">
                              <?php if ($manufacturer) { ?>
                              <li><?php echo $text_manufacturer; ?> <a href="<?php echo $manufacturers; ?>"><?php echo $manufacturer; ?></a></li>
                              <?php } ?>
                              <li><?php echo $text_model; ?> <?php echo $model; ?></li>
                              <?php if ($reward) { ?>
                              <li><?php echo $text_reward; ?> <?php echo $reward; ?></li>
                              <?php } ?>
                              
                            </ul>

                            <?php if ($price) { ?>
                            
                            
                              <?php if (!$special) { ?>

                            <div class="price-box">
                                <span class="new-price"><?php echo $price; ?></span>
                            </div>
                              <?php } else { ?>
                            <div class="price-box">
                                <span class="new-price"><?php echo $special; ?></span>
                                <span class="old-price"><?php echo $price; ?></span>
                            </div>
                              <?php } ?>
                              <?php if ($tax) { ?>
                              <div><?php echo $text_tax; ?> <?php echo $tax; ?></div>
                              <?php } ?>
                              <?php if ($points) { ?>
                              <div><?php echo $text_points; ?> <?php echo $points; ?></div>
                              <?php } ?>
                              <?php if ($discounts) { ?>
                              <hr>
                              <?php foreach ($discounts as $discount) { ?>
                              <div><?php echo $discount['quantity']; ?><?php echo $text_discount; ?><?php echo $discount['price']; ?></div>
                              <?php } ?>
                              <?php } ?>
                            
                            
                            <?php } ?>


          <div id="product">

            <?php if ($recurrings) { ?>
            <hr>
            <h3><?php echo $text_payment_recurring; ?></h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($recurrings as $recurring) { ?>
                <option value="<?php echo $recurring['recurring_id']; ?>"><?php echo $recurring['name']; ?></option>
                <?php } ?>
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            <?php } ?>
            

          
           

            
            <?php if ($minimum > 1) { ?>
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $text_minimum; ?></div>
            <?php } ?>
          </div>
          <?php if ($review_status) { ?>
          <div class="rating">
            <p>
              <?php for ($i = 1; $i <= 5; $i++) { ?>
              <?php if ($rating < $i) { ?>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
              <?php } else { ?>
              <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
              <?php } ?>
              <?php } ?>
              <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><?php echo $reviews; ?></a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><?php echo $text_write; ?></a></p>
            <hr>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style" data-url="<?php echo $share; ?>"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
            <!-- AddThis Button END -->
          </div>
          <?php } ?>

                            <div class="stock-status">
                                <label><?php echo $text_stock; ?></label>: <strong><?php echo $stock; ?></strong>
                            </div>
                            <form action="#">
                                <div class="quantity">

                                    <input type="number" id="qty" value="<?php echo $minimum; ?>">
                                    <button type="button" id="button-cart" onclick="cart.add('<?php echo $product_id; ?>', $('#qty').val(),'',$('.cart-message-wrapper'));" data-loading-text="<?php echo $text_loading; ?>"><?php echo $button_cart; ?></button>
                                    <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
                                </div>
                            </form>
                            
                            <div class="add-to-wishlist-p" >
                                <a title="" data-toggle="tooltip" href="#" data-original-title="Add to Wishlist"><i class="fa fa-star"></i></a>
                                <a title="" data-toggle="tooltip" href="#" data-original-title="Compare"><i class="fa fa-exchange"></i></a>
                                
                            </div>
                            <div class="cart-message-wrapper" style="height:25px;"></div>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="product-tab-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <div class="product-tabs">
                            <div>
                              <!-- Nav tabs -->
                              <ul role="tablist" class="nav nav-tabs">
                                <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="tab-desc" href="#tab-desc" aria-expanded="true">Description</a></li>
                                <!-- <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="page-comments" href="#page-comments" aria-expanded="false">Reviews (1)</a></li> -->

                                <?php if ($attribute_groups) { ?>
                                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="tab-desc" href="#tab-specification" aria-expanded="true"><?php echo $tab_attribute; ?></a></li>

                                
                                <?php } ?>
                                <?php if ($review_status) { ?>
                                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="tab-desc" href="#tab-review" aria-expanded="true"><?php echo $tab_review; ?></a></li>
                                <?php } ?>

                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div id="tab-desc" class="tab-pane active" role="tabpanel">
                                    <div class="product-tab-desc">
                                        <?php echo $description; ?>
                                    </div>
                                </div>
            <?php if ($attribute_groups) { ?>
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                <?php foreach ($attribute_groups as $attribute_group) { ?>
                <thead>
                  <tr>
                    <td colspan="2"><strong><?php echo $attribute_group['name']; ?></strong></td>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
                  <tr>
                    <td><?php echo $attribute['name']; ?></td>
                    <td><?php echo $attribute['text']; ?></td>
                  </tr>
                  <?php } ?>
                </tbody>
                <?php } ?>
              </table>
            </div>
            <?php } ?>


            <?php if ($review_status) { ?>
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2><?php echo $text_write; ?></h2>
                <?php if ($review_guest) { ?>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name"><?php echo $entry_name; ?></label>
                    <input type="text" name="name" value="<?php echo $customer_name; ?>" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review"><?php echo $entry_review; ?></label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block"><?php echo $text_note; ?></div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label"><?php echo $entry_rating; ?></label>
                    &nbsp;&nbsp;&nbsp; <?php echo $entry_bad; ?>&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;<?php echo $entry_good; ?></div>
                </div>
                <?php echo $captcha; ?>
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary"><?php echo $button_continue; ?></button>
                  </div>
                </div>
                <?php } else { ?>
                <?php echo $text_login; ?>
                <?php } ?>
              </form>
            </div>
            <?php } ?>


                              </div>
                            </div>            
                        </div>
                        <div class="clear"></div>
                        <?php
                        if($products){
                          ?>
                        <div class="upsells_products_widget">
                            <div class="section-heading">
                                <h3><?php echo $text_related; ?></h3>
                            </div>
                            <div class="row">
                              <?php foreach ($products as $product) { ?>

                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" >
                                    <div class="f-single-product" style="min-height:320px;">
                                        <div class="f-product-img">
                                            <a class="f-p-img-p" href="<?php echo $product['href']; ?>">
                                                <img class="primary-img" src="<?php echo $product['thumb']; ?>" alt="">
                                                <img class="hover-img" src="<?php echo $product['thumb']; ?>" alt="">
                                            </a>
                                            <div class="f-img-block">
                                                <div class="feature-add-icon">
                                                    <a href="#"><i class="fa fa-random"></i></a>
                                                    <a href="<?php echo $product['href']; ?>"><i class="fa fa-eye"></i></a>
                                                </div>
                                                <div class="feature-add-cart">
                                                    <a style="cursor:pointer;" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>','related',$(this).parent().parent().parent().parent().find('.related-cart-message-wrapper'));">add to cart</a>
                                                </div>    
                                            </div>
                                            
                                        </div>
                                        <div class="related-cart-message-wrapper" style="text-align:center;"></div>
                                        <div class="feature-product-block">
                                            <h3 style="line-height:12px;"><a href="<?php echo $product['href']; ?>" style="font-size:small;"><?php echo $product['name']; ?>
                                            

                                            <?php if ($product['price']) { ?>
                                            <p class="price">
                                              <?php if (!$product['special']) { ?>
                                              <span><?php echo $product['price']; ?></span>
                                              <?php } else { ?>
                                              <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
                                              <?php } ?>
                                              <?php if ($product['tax']) { ?>
                                              <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                                              <?php } ?>
                                            </p>
                                            <?php } ?>                                 

                                            </a></h3>

                                            <?php if ($product['rating']) { ?>
                                            <div class="feature-p-block-icon">
                                              <?php for ($j = 1; $j <= 5; $j++) { ?>
                                              <?php if ($product['rating'] < $j) { ?>
                                              <a href="#"><i class="fa fa-star"></i></a>
                                              <?php } else { ?>
                                              <a href="#"><i class="fa fa-star"></i>><i class="fa fa-star"></i></a>
                                              <?php } ?>
                                              <?php } ?>
                                            </div>                                                                        
                                            <?php } ?>                                            

                                        </div>
                                    </div>   
                                </div>
                              <?php } ?>



          
                            </div>
                        </div>
                          <?php

                        }
                        ?>

                    </div>

                    <!--<div class="col-lg-3 col-md-3 col-sm-3">                        
                        <aside class="widget top-product-widget">
                            <h3 class="sidebar-title">Recent</h3>
                            <ul>
                                <li>
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" src="img/product/b-d-1.jpg" class="primary-image">
                                                <img alt="" src="img/product/b-d-2.jpg" class="secondary-image">
                                            </a>            
                                        </div>
                                        <div class="product-content">
                                            <div class="pro-info">
                                                <h2 class="product-name"><a href="#">Curabitur vulputate</a></h2>
                                                <div class="price-box">
                                                    <span class="new-price">£90.00</span>
                                                    <span class="old-price">£120.00</span>
                                                </div>                
                                            </div>                  
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" src="img/product/bb-2.JPG" class="primary-image">
                                                <img alt="" src="img/product/bb-1.JPG" class="secondary-image">
                                            </a>            
                                        </div>
                                        <div class="product-content">
                                            <div class="pro-info">
                                                <h2 class="product-name"><a href="#">Aliquam lobortis est</a></h2>
                                                <div class="price-box">
                                                    <span class="new-price">£70.00</span>
                                                    <span class="old-price">£100.00</span>
                                                </div>                
                                            </div>                
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" src="img/product/cap-1.JPG" class="primary-image">
                                                <img alt="" src="img/product/cap-2.JPG" class="secondary-image">
                                            </a>            
                                        </div>
                                        <div class="product-content">
                                            <div class="pro-info">
                                                <h2 class="product-name"><a href="#">Nulla sed libero</a></h2>
                                                <div class="price-box">
                                                    <span class="new-price">£80.00</span>
                                                    <span class="old-price">£120.00</span>
                                                </div>                
                                            </div>                
                                        </div>
                                    </div>  
                                </li>
                                <li>
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" src="img/product/bbb-2.png" class="primary-image">
                                                <img alt="" src="img/product/product.jpg" class="secondary-image">
                                            </a>            
                                        </div>
                                        <div class="product-content">
                                            <div class="pro-info">
                                                <h2 class="product-name"><a href="#">Pellentesque posuere</a></h2>
                                                <div class="price-box">
                                                    <span class="new-price">£50.00</span>
                                                </div>                
                                            </div>                  
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </aside>                        
                    </div>-->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>          

<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
//--></script>
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('#button-cart').button('loading');
    },
    complete: function() {
      $('#button-cart').button('reset');
    },
    success: function(json) {
      $('.alert, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

        $('html, body').animate({ scrollTop: 0 }, 'slow');

        $('#cart > ul').load('index.php?route=common/cart/info ul li');
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});

$('.datetime').datetimepicker({
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
//--></script>
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

$('#button-review').on('click', function() {
  $.ajax({
    url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
    type: 'post',
    dataType: 'json',
    data: $("#form-review").serialize(),
    beforeSend: function() {
      $('#button-review').button('loading');
    },
    complete: function() {
      $('#button-review').button('reset');
    },
    success: function(json) {
      $('.alert-success, .alert-danger').remove();

      if (json['error']) {
        $('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'rating\']:checked').prop('checked', false);
      }
    }
  });
});

$(document).ready(function() {
  $('.thumbnails').magnificPopup({
    type:'image',
    delegate: 'a',
    gallery: {
      enabled:true
    }
  });
});
//--></script>        
<?php echo $footer; ?>
