<?php
/*
<div id="search" class="input-group">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>
*/
?>

<!--                             <div class="h-search-btn">                                                  
                                <div class="classic-search">
                                    <form action="#">
                                        <input type="text" placeholder="search" name="search" value="<?php //echo $search; ?>" placeholder="<?php //echo $text_search; ?>">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>    
                            </div> -->
                            <div class="h-search-btn input-group" id="search">                                            
                                <div class="classic-search">
                                        <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                </div>    
                            </div>