<h2><?php echo $text_instruction; ?></h2>
<p><b><?php echo $text_description; ?></b></p>
<div class="well well-sm">
  <p><?php echo $bank; ?></p>
  <p><?php echo $text_payment; ?></p>
</div>

<?php /*if ($text_agree) { ?>
<div class="buttons">
  <div class="pull-right"><?php echo $text_agree; ?>
    <?php if ($agree) { ?>
    <input type="checkbox" name="agree" value="1" checked="checked" />
    <?php } else { ?>
    <input type="checkbox" name="agree" value="1" />
    <?php } ?>
    &nbsp;
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="btn btn-primary" data-loading-text="<?php echo $text_loading; ?>" />
  </div>
</div>
<?php } else { ?>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="btn btn-primary" data-loading-text="<?php echo $text_loading; ?>" />
  </div>
</div>
<?php }*/ ?>


<script type="text/javascript"><!--
// $('#button-confirm').on('click', function() {
// 	//alert('xassaqq');
// 	//return false;
// 	$.ajax({
        
//         type: 'post',
//         data: $('#collapse-payment-method input[type=\'radio\']:checked, #collapse-payment-method input[type=\'checkbox\']:checked, #collapse-payment-method textarea'),
//         dataType: 'json',


// 		//type: 'get',
// 		url: 'index.php?route=extension/payment/bank_bca/confirm',
// 		cache: false,
// 		beforeSend: function() {
// 			$('#button-confirm').button('loading');
// 		},
// 		complete: function() {
// 			$('#button-confirm').button('reset');
// 		},
// 		success: function(json) {
// 			$('#collapse-payment-method .panel-body .alert').remove();
// 			if(json['error']){
// 				if (json['error']['warning']) {
// 				$('#collapse-payment-method .panel-body').prepend('<div class="alert alert-danger">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
// 				}
// 			}
// 			else if(json['success']){
// 				location = '<?php echo $continue; ?>';

// 			}
// 		}
// 	});
// });
//--></script>
