<?php /*if ($text_agree) { ?>
<div class="buttons">
  <div class="pull-right"><?php echo $text_agree; ?>
    <?php if ($agree) { ?>
    <input type="checkbox" name="agree" value="1" checked="checked" />
    <?php } else { ?>
    <input type="checkbox" name="agree" value="1" />
    <?php } ?>
    &nbsp;
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="btn btn-primary" data-loading-text="<?php echo $text_loading; ?>" />
  </div>
</div>
<?php } else { ?>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="btn btn-primary" data-loading-text="<?php echo $text_loading; ?>" />
  </div>
</div>
<?php }*/ ?>
<script type="text/javascript"><!--
// $('#button-confirm').on('click', function() {
// 	$.ajax({
// 		type: 'get',
// 		url: 'index.php?route=extension/payment/cod/confirm',
// 		cache: false,
// 		beforeSend: function() {
// 			$('#button-confirm').button('loading');
// 		},
// 		complete: function() {
// 			$('#button-confirm').button('reset');
// 		},
// 		success: function() {
// 			location = '<?php echo $continue; ?>';
// 		}
// 	});
// });
//--></script>
