<div class="slider-area home1">
<div class="bend niceties preview-2">
<div id="ensign-nivoslider" class="slides"> 

<?php $a=0;?>
<?php foreach ($banners as $banner) { ?>
<?php
//var_dump($banners);
?>
<?php $a++;?>
<?php if ($banner['link']) { ?>
<a href="<?php echo $banner['link']; ?>"><img src="<?php echo $banner['image']; ?>" alt="" title="#slider-direction-<?php echo $a;?>" /></a>
<?php } else { ?>
<img src="<?php echo $banner['image']; ?>" alt="" title="#slider-direction-<?php echo $a;?>" />
<?php } ?>

<?php } ?>          


             
</div>               
</div>
</div>
<div class="clearfix"></div>