.star{
    background: rgba(0, 0, 0, 0) url("../img/star-rating-gold.png") no-repeat scroll left 0 / 20px auto;
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.fullStar{
    background-position:left -27px;
}

.stars{
    overflow: hidden;
}

.tmp_es{
    background-position:left 0;
}

.tmp_fs{
    background-position:left -27px;
}
