<form class="form-horizontal">
  <div class="form-group required">
    <label class="col-sm-2 control-label" for="input-shipping-firstname"><?php echo $entry_firstname; ?></label>
    <div class="col-sm-10">
      <input type="text" name="firstname" value="<?php echo $firstname; ?>" placeholder="<?php echo $entry_firstname; ?>" id="input-shipping-firstname" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="input-shipping-lastname"><?php echo $entry_lastname; ?></label>
    <div class="col-sm-10">
      <input type="text" name="lastname" value="<?php echo $lastname; ?>" placeholder="<?php echo $entry_lastname; ?>" id="input-shipping-lastname" class="form-control" />
    </div>
  </div>
  <div class="form-group required">
    <label class="col-sm-2 control-label" for="input-shipping-email"><?php echo $entry_email; ?></label>
    <div class="col-sm-10">
      <input type="text" name="email" value="<?php echo $email; ?>" placeholder="<?php echo $entry_email; ?>" id="input-shipping-email" class="form-control" />
    </div>
  </div> 

  <div class="form-group required">
    <label class="col-sm-2 control-label" for="input-shipping-telephone"><?php echo $entry_telephone; ?></label>
    <div class="col-sm-10">
      <!-- <input type="text" name="telephone" value="<?php //echo $telephone; ?>" placeholder="<?php echo $entry_telephone; ?>" id="input-shipping-telephone" class="form-control" /> -->
      <div class="input-group">
      <input type="text" name="telephone" value="<?php echo $telephone; ?>" placeholder="<?php echo $entry_telephone; ?>" id="input-shipping-telephone" class="form-control" />
      <span class="input-group-addon btn btn-default" id="btn-check-phone">Check</span>

      </div>
     <div style="font-style:italic;font-size:smaller;" class="checkPhoneMsg">
      <span class="hint">*You can use your phone number to complete another fields if you made any purchase before</span>
      <br/>
      <span class="msg">Data not found</span>
    </div>
     </div>
  </div> 



  <div class="form-group" style="display:none;">
    <label class="col-sm-2 control-label" for="input-shipping-company"><?php echo $entry_company; ?></label>
    <div class="col-sm-10">
      <input type="text" name="company" value="<?php echo $company; ?>" placeholder="<?php echo $entry_company; ?>" id="input-shipping-company" class="form-control" />
    </div>
  </div>
  <div class="form-group required">
    <label class="col-sm-2 control-label" for="input-shipping-address-1"><?php echo $entry_address_1; ?></label>
    <div class="col-sm-10">
      <input type="text" name="address_1" value="<?php echo $address_1; ?>" placeholder="<?php echo $entry_address_1; ?>" id="input-shipping-address-1" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="input-shipping-address-2"><?php echo $entry_address_2; ?></label>
    <div class="col-sm-10">
      <input type="text" name="address_2" value="<?php echo $address_2; ?>" placeholder="<?php echo $entry_address_2; ?>" id="input-shipping-address-2" class="form-control" />
    </div>
  </div>

  <div class="form-group required">
    <label class="col-sm-2 control-label" for="input-shipping-postcode"><?php echo $entry_postcode; ?></label>
    <div class="col-sm-10">
      <input type="text" name="postcode" value="<?php echo $postcode; ?>" placeholder="<?php echo $entry_postcode; ?>" id="input-shipping-postcode" class="form-control" />
    </div>
  </div>
  <div class="form-group required">
    <label class="col-sm-2 control-label" for="input-shipping-country"><?php echo $entry_country; ?></label>
    <div class="col-sm-10">
      <select name="country_id" id="input-shipping-country" class="form-control">
        <option value=""><?php echo $text_select; ?></option>
        <?php foreach ($countries as $country) { ?>
        <?php if ($country['country_id'] == $country_id) { ?>
        <option value="<?php echo $country['country_id']; ?>" selected="selected"><?php echo $country['name']; ?></option>
        <?php } else { ?>
        <option value="<?php echo $country['country_id']; ?>"><?php echo $country['name']; ?></option>
        <?php } ?>
        <?php } ?>
      </select>
    </div>
  </div>
  <div class="form-group required">
    <label class="col-sm-2 control-label" for="input-shipping-zone"><?php echo $entry_zone; ?></label>
    <div class="col-sm-10">
      <select name="zone_id" id="input-shipping-zone" class="form-control">
        <option value=""><?php echo $text_select; ?></option>
      </select>
    </div>
  </div>

    <div class="form-group city-wrapper required"  style="display:none;">
      <label class="col-sm-2 control-label" for="input-shipping-kota"><?php echo $entry_kota; ?></label>
      <div class="col-sm-10">
        <select name="id_city" id="input-shipping-kota" class="form-control">
          <option value=""><?php echo $text_select; ?></option>
        </select>
        <input type="hidden" name="city_name">
      </div>
    </div>
  <div class="form-group required">
    <label class="col-sm-2 control-label" for="input-shipping-city"><?php echo $entry_city; ?></label>
    <div class="col-sm-10">
      <input type="text" name="city" value="<?php echo $city; ?>" placeholder="<?php echo $entry_city; ?>" id="input-shipping-city" class="form-control" />
    </div>
  </div>



  <div class="buttons">
    <div class="pull-right">
      <!-- <input type="button" value="<?php //echo $button_continue; ?>" id="button-guest-shipping" data-loading-text="<?php //echo $text_loading; ?>" class="btn btn-primary" /> -->
      <input type="image" src="<?php echo $btn_next; ?>" value="<?php echo $button_continue; ?>" id="button-guest-shipping" data-loading-text="<?php echo $text_loading; ?>" class="img-responsive" onclick="return false;" />
     
    </div>
  </div>
</form>
<script type="text/javascript"><!--
var country = "";
// Sort the custom fields
$('#collapse-shipping-address .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#collapse-shipping-address .form-group').length-2) {
		$('#collapse-shipping-address .form-group').eq(parseInt($(this).attr('data-sort'))+2).before(this);
	}

	if ($(this).attr('data-sort') > $('#collapse-shipping-address .form-group').length-2) {
		$('#collapse-shipping-address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#collapse-shipping-address .form-group').length-2) {
		$('#collapse-shipping-address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#collapse-shipping-address .form-group').length-2) {
		$('#collapse-shipping-address .form-group:first').before(this);
	}
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-shipping-address button[id^=\'button-shipping-custom-field\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$(node).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input[name^=\'custom_field\']').attr('value', json['file']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});

$('.time').datetimepicker({
	pickDate: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-shipping-address select[name=\'country_id\']').on('change', function() {
  if(country=="Indonesia"){
  $('#collapse-shipping-address input[name=\'city\']').val('');
  $('#collapse-shipping-address select[name=\'id_city\']').val('');
  }
	$.ajax({
		url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('#collapse-shipping-address select[name=\'country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
		},
		complete: function() {
			$('.fa-spin').remove();
		},
		success: function(json) {
      country = json['name'];
      if(country=="Indonesia"){        
        $('.city-wrapper').show();
        $("#collapse-shipping-address select[name=\'id_city\']").val("");
        //$('#collapse-shipping-address select[name=\'id_city\']').parent().parent().addClass('required');
      }
      else{
        $('.city-wrapper').hide();
        $("#collapse-shipping-address select[name=\'id_city\']").val("");
        //$('#collapse-shipping-address select[name=\'id_city\']').parent().parent().removeClass('required');
      }


			if (json['postcode_required'] == '1') {
				$('#collapse-shipping-address input[name=\'postcode\']').parent().parent().addClass('required');
			} else {
				$('#collapse-shipping-address input[name=\'postcode\']').parent().parent().removeClass('required');
			}

			html = '<option value=""><?php echo $text_select; ?></option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '<?php echo $zone_id; ?>') {
						html += ' selected="selected"';
          			}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="" selected="selected"><?php echo $text_select; ?></option>';
			}

			$('#collapse-shipping-address select[name=\'zone_id\']').html(html);

      <?php
      if($id_city!="" && $id_city!=null){
        ?>          
          $('#collapse-shipping-address select[name=\'zone_id\']').trigger('change');
        <?php

      }
      ?>

      
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#collapse-shipping-address select[name=\'country_id\']').trigger('change');



$('#collapse-shipping-address select[name=\'zone_id\']').on('change', function() {
  if(country=="Indonesia"){
    $('#collapse-shipping-address input[name=\'city\']').val('');
    $('#collapse-shipping-address select[name=\'id_city\']').val('');
    $.ajax({
      url: 'index.php?route=account/account/zone&zone_id=' + this.value,
      dataType: 'json',
      success: function(json) {
        //console.log(json);
        html = '<option value=""><?php echo $text_select; ?></option>';

        if (json['city'] && json['city'] != '') {
          for (i = 0; i < json['city'].length; i++) {
            html += '<option value="' + json['city'][i]['city_id'] + '"';

          if (json['city'][i]['city_id'] == '<?php echo $id_city; ?>') {
            html += ' selected="selected"';
            }


            html += '>'+json['city'][i]['type']+' '+ json['city'][i]['city_name'] + '</option>';
          }
        } else {
          html += '<option value="" selected="selected"><?php echo $text_select; ?></option>';
        }
        $('#collapse-shipping-address select[name=\'id_city\']').html(html);

      <?php
      if($id_city){
        ?>          
          $('#collapse-shipping-address select[name=\'id_city\']').trigger('change');
        <?php

      }
      ?>        

      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }

});


$('#collapse-shipping-address select[name=\'id_city\']').on('change',function(){
  var text = $('#collapse-shipping-address select[name=\'id_city\'] option[value=\''+$(this).val()+'\']').text();
  $('#collapse-shipping-address input[name=\'city\']').val(text);

  // var zone_id = $('#collapse-shipping-address select[name=\'zone_id\']').val();
  // var id = $(this).val();
  // $.ajax({
  //   url:'index.php?route=account/account/city&zone_id=' + zone_id+'&id='+id,
  //   dataType: 'json',
  //   success:function(json){
  //     //alert(json['city_name']);
  //     $('#collapse-shipping-address input[name=\'city\']').val(json['city_name']);
  //   }
  // })
  //alert(id);

});


//--></script>