<?php /*if (count($currencies) > 1) { ?>
<div class="pull-left">
<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-currency">
  <div class="btn-group">
    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
    <?php foreach ($currencies as $currency) { ?>
    <?php if ($currency['symbol_left'] && $currency['code'] == $code) { ?>
    <strong><?php echo $currency['symbol_left']; ?></strong>
    <?php } elseif ($currency['symbol_right'] && $currency['code'] == $code) { ?>
    <strong><?php echo $currency['symbol_right']; ?></strong>
    <?php } ?>
    <?php } ?>
    <span class="hidden-xs hidden-sm hidden-md"><?php echo $text_currency; ?></span> <i class="fa fa-caret-down"></i></button>
    <ul class="dropdown-menu">
      <?php foreach ($currencies as $currency) { ?>
      <?php if ($currency['symbol_left']) { ?>
      <li><button class="currency-select btn btn-link btn-block" type="button" name="<?php echo $currency['code']; ?>"><?php echo $currency['symbol_left']; ?> <?php echo $currency['title']; ?></button></li>
      <?php } else { ?>
      <li><button class="currency-select btn btn-link btn-block" type="button" name="<?php echo $currency['code']; ?>"><?php echo $currency['symbol_right']; ?> <?php echo $currency['title']; ?></button></li>
      <?php } ?>
      <?php } ?>
    </ul>
  </div>
  <input type="hidden" name="code" value="" />
  <input type="hidden" name="redirect" value="<?php echo $redirect; ?>" />
</form>
</div>
<?php }*/ ?>




<?php if (count($currencies) > 1) { ?>
<div class="currency_right"  >
  <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-currency">
  <div class="btn-group">
  <?php 
  $i=0;
  foreach ($currencies as $currency) { 
  $i++; 
  ?>
    <?php if ($currency['symbol_left']) { ?>
    <a title="<?php echo $currency['title']; ?>" class="currency-select " name="<?php echo $currency['code']; ?>" style="cursor:pointer;<?php echo $currency['code']==$code ? 'color:red;' : '' ?>"><?php echo $currency['code']; ?></a>
    <?php } else { ?>
    <a title="<?php echo $currency['title']; ?>" class="currency-select " name="<?php echo $currency['code']; ?>" style="cursor:pointer;<?php echo $currency['code']==$code ? 'color:red;' : '' ?>"><?php echo $currency['code']; ?></a>
    <?php } ?>


    <?php
    if($i<count($currencies)){ echo " / "; }
    ?>
  <?php } ?>
  </div>
  <input type="hidden" name="code" value="" />
  <input type="hidden" name="redirect" value="<?php echo $redirect; ?>" />
  </form>

</div>

<div class="currency_left"><?php echo $text_currency; ?> :</div>







<?php } ?>
<style type="text/css">
@media (min-width:768px) {
  .currency_right{
    float:right;margin-left:5px;
  }
  .currency_left{
    float:right;
  }
}
@media (max-width:767px) {

  .currency_right{
    display: none;
  }
  .currency_left{
    display: none;
  }

}
</style>




