                                    <div class="location_right">
                                      <?php echo $text_country?> <a href="<?php echo $change;?>" style="font-size:smaller;color:red;"><?php echo $text_change_location?></a>
                                      <?php
                                      /*
                                        <form id="form-location">
                                        <select name="location" onchange="window.location='<?php echo $setlocation?>&location='+$(this).val();" class="select_location">
                                        <option value="id" <?php echo $location=="id" ? "selected" : ""?> >Indonesia</option>
                                        <option value="my" <?php echo $location=="my" ? "selected" : ""?> >Malaysia</option>
                                        <option value="sg" <?php echo $location=="sg" ? "selected" : ""?> >Singapore</option>
                                        </select>
                                        </form>

                                      */
                                      ?>
                                    </div>
                                    <div class="location_left"><?php echo $text_location; ?> :</div>
                                    <style type="text/css">
                                    select.select_location{
                                        background: none;
                                    }
select.select_location option {
    
    background: black;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


@media (min-width:768px) {
  .location_right{
    float:right;margin-left:5px;margin-right:20px;
  }
  .location_left{
    float:right;
  }
}
@media (max-width:767px) {

  .location_right{
    display: none;
  }
  .location_left{
    display: none;
  }

}

                                    </style>
