<?php
/*
<div id="search" class="input-group">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>
*/
?>

<!--                             <div class="h-search-btn">                                                  
                                <div class="classic-search">
                                    <form action="#">
                                        <input type="text" placeholder="search" name="search" value="<?php //echo $search; ?>" placeholder="<?php //echo $text_search; ?>">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>    
                            </div> -->
                            <div class="h-search-btn input-group hidden-sm" id="search" style="width:100%;">                                            
                                <div class="classic-search" style="width:100%;">
                                        <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="" style="width:100%;">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                </div>    
                            </div>
                            <style type="text/css">
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ffffff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #ffffff;
}
                            </style>